doctype html
html
    head
        <script src="https://kit.fontawesome.com/a27f6421d1.js" crossorigin="anonymous"></script>
        title Wetube
    body 
        include ../partials/header
        main
            block content
        include ../partials/footer